:root{
    --color-titulo: ;
    --color-borda: #000000;
    --color-amarelo: #FDF8D3;
    --color-azul: #99B1BF;
    --color-ciano: #DCFFFB;
    --color-cinza: #D3D3D3;
    --color-laranja: #ffe2d0;
    --color-rosa: #F2D0DD;
    --color-marrom: #D9D0BF;
    --color-roxo: #DEBFE8;
    --color-verde: #A8C1BE;
    --color-vermelho: #FAB1A6;
}